{
    "swagger": "2.0",
    "info": {
        "title": "Academy API",
        "version": "1.0.0"
    },
    "host": "academy.domain",
    "basePath": "/",
    "schemes": [
        "https",
        "http"
    ],
    "paths": {
        "/api/achievement": {
            "get": {
                "tags": [
                    "Achievement"
                ],
                "summary": "Get all achievements",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Format: `application/json`",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Format: `Bearer <api_token>`",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "properties": {
                                "data": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "id": {
                                                "type": "integer"
                                            },
                                            "ruName": {
                                                "type": "string"
                                            },
                                            "kkName": {
                                                "type": "string"
                                            },
                                            "enName": {
                                                "type": "string"
                                            },
                                            "key": {
                                                "type": "string"
                                            },
                                            "points": {
                                                "type": "integer"
                                            },
                                            "createdAt": {
                                                "type": "string"
                                            },
                                            "updatedAt": {
                                                "type": "string"
                                            },
                                            "deletedAt": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/api/achievement/{achievement}": {
            "get": {
                "tags": [
                    "Achievement"
                ],
                "summary": "Get concrete achievements",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Format: `application/json`",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Format: `Bearer <api_token>`",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "properties": {
                                "data": {
                                    "properties": {
                                        "id": {
                                            "type": "integer"
                                        },
                                        "ruName": {
                                            "type": "string"
                                        },
                                        "kkName": {
                                            "type": "string"
                                        },
                                        "enName": {
                                            "type": "string"
                                        },
                                        "key": {
                                            "type": "string"
                                        },
                                        "points": {
                                            "type": "integer"
                                        },
                                        "createdAt": {
                                            "type": "string"
                                        },
                                        "updatedAt": {
                                            "type": "string"
                                        },
                                        "deletedAt": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/api/auth/login": {
            "post": {
                "tags": [
                    "Authorization"
                ],
                "summary": "Login.",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Format: `application/json`",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "phone",
                        "in": "formData",
                        "description": "Phone number",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "password",
                        "in": "formData",
                        "description": "Password",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "properties": {
                                "success": {
                                    "type": "boolean"
                                },
                                "data": {
                                    "properties": {
                                        "token": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "422": {
                        "description": "Validation failed",
                        "schema": {
                            "properties": {
                                "success": {
                                    "type": "boolean"
                                },
                                "data": {
                                    "properties": {
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/api/auth/register": {
            "post": {
                "tags": [
                    "Authorization"
                ],
                "summary": "Register.",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Format: `application/json`",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "phone",
                        "in": "formData",
                        "description": "Phone number",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "username",
                        "in": "formData",
                        "description": "Nickname",
                        "type": "string"
                    },
                    {
                        "name": "firstname",
                        "in": "formData",
                        "description": "Firstname",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "lastname",
                        "in": "formData",
                        "description": "Lastname",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "middlename",
                        "in": "formData",
                        "description": "Middlename",
                        "type": "string"
                    },
                    {
                        "name": "region_id",
                        "in": "formData",
                        "description": "Region ID",
                        "type": "integer"
                    },
                    {
                        "name": "district_id",
                        "in": "formData",
                        "description": "District ID",
                        "type": "integer"
                    },
                    {
                        "name": "locality_id",
                        "in": "formData",
                        "description": "Locality ID",
                        "type": "integer"
                    },
                    {
                        "name": "school_id",
                        "in": "formData",
                        "description": "School ID",
                        "type": "integer"
                    },
                    {
                        "name": "class_year",
                        "in": "formData",
                        "description": "Year of class (Ex. 10, 11)",
                        "type": "integer"
                    },
                    {
                        "name": "class_form",
                        "in": "formData",
                        "description": "Form of class (Ex. \u0410, \u0412)",
                        "type": "string"
                    },
                    {
                        "name": "password",
                        "in": "formData",
                        "description": "Password",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "c_password",
                        "in": "formData",
                        "description": "Repeat Password",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "properties": {
                                "success": {
                                    "type": "boolean"
                                },
                                "data": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "422": {
                        "description": "Validation failed",
                        "schema": {
                            "properties": {
                                "success": {
                                    "type": "boolean"
                                },
                                "data": {
                                    "properties": {
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/api/auth/resend": {
            "post": {
                "tags": [
                    "Authorization"
                ],
                "summary": "Resend verification code.",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Format: `application/json`",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "phone",
                        "in": "formData",
                        "description": "Phone number",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "properties": {
                                "success": {
                                    "type": "boolean"
                                },
                                "data": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "422": {
                        "description": "Validation failed",
                        "schema": {
                            "properties": {
                                "success": {
                                    "type": "boolean"
                                },
                                "data": {
                                    "properties": {
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "404": {
                        "description": "User is not found",
                        "schema": {
                            "properties": {
                                "success": {
                                    "type": "boolean"
                                },
                                "data": {
                                    "properties": {
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/api/auth/verify": {
            "post": {
                "tags": [
                    "Authorization"
                ],
                "summary": "Verify phone number.",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Format: `application/json`",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "phone",
                        "in": "formData",
                        "description": "Phone number",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "code",
                        "in": "formData",
                        "description": "Code that user enters",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "properties": {
                                "success": {
                                    "type": "boolean"
                                },
                                "data": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        },
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "422": {
                        "description": "Validation failed",
                        "schema": {
                            "properties": {
                                "success": {
                                    "type": "boolean"
                                },
                                "data": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        },
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/api/cl/course": {
            "get": {
                "tags": [
                    "CL"
                ],
                "summary": "Get all courses.",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Format: `application/json`",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "per_page",
                        "in": "formData",
                        "description": "Items per page (Pagination)",
                        "type": "integer"
                    },
                    {
                        "name": "page",
                        "in": "formData",
                        "description": "Page number (Pagination)",
                        "type": "integer"
                    },
                    {
                        "name": "not_published",
                        "in": "formData",
                        "description": "To display not published courses (not_published=1)",
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "properties": {
                                "success": {
                                    "type": "boolean"
                                },
                                "data": {
                                    "properties": {
                                        "articles": {
                                            "properties": {
                                                "current_page": {
                                                    "type": "integer"
                                                },
                                                "data": {
                                                    "items": {
                                                        "$ref": "#/definitions/Course"
                                                    }
                                                },
                                                "first_page_url": {
                                                    "type": "string"
                                                },
                                                "from": {
                                                    "type": "integer"
                                                },
                                                "last_page": {
                                                    "type": "integer"
                                                },
                                                "last_page_url": {
                                                    "type": "string"
                                                },
                                                "next_page_url": {
                                                    "type": "string"
                                                },
                                                "path": {
                                                    "type": "string"
                                                },
                                                "per_page": {
                                                    "type": "integer"
                                                },
                                                "prev_page_url": {
                                                    "type": "string"
                                                },
                                                "to": {
                                                    "type": "integer"
                                                },
                                                "total": {
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/api/cl/course/{course_id}": {
            "get": {
                "tags": [
                    "CL"
                ],
                "summary": "Get Course.",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Format: `application/json`",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "properties": {
                                "success": {
                                    "type": "boolean"
                                },
                                "data": {
                                    "properties": {
                                        "data": {
                                            "items": {
                                                "$ref": "#/definitions/Course"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/api/user/course/start/{course_id}": {
            "post": {
                "tags": [
                    "CL"
                ],
                "summary": "Start Course for User.",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Format: `application/json`",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Format: `Bearer <api_token>`",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "properties": {
                                "success": {
                                    "type": "boolean"
                                },
                                "data": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/api/cl/course/themes": {
            "get": {
                "tags": [
                    "CL"
                ],
                "summary": "Get Themes.",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Format: `application/json`",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "properties": {
                                "success": {
                                    "type": "boolean"
                                },
                                "data": {
                                    "properties": {
                                        "themes": {
                                            "items": {
                                                "$ref": "#/definitions/CLTheme"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/api/cl/course/statuses": {
            "get": {
                "tags": [
                    "CL"
                ],
                "summary": "Get Statuses. (Keys are as Integer)",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Format: `application/json`",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "properties": {
                                "success": {
                                    "type": "boolean"
                                },
                                "data": {
                                    "properties": {
                                        "statuses": {
                                            "properties": {
                                                "key": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/api/cl/lesson/{lesson_id}": {
            "get": {
                "tags": [
                    "CL"
                ],
                "summary": "Get Lesson.",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Format: `application/json`",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "properties": {
                                "success": {
                                    "type": "boolean"
                                },
                                "data": {
                                    "properties": {
                                        "data": {
                                            "items": {
                                                "$ref": "#/definitions/Lesson"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/api/user/lesson/start/{lesson_id}": {
            "post": {
                "tags": [
                    "CL"
                ],
                "summary": "Start Lesson for User.",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Format: `application/json`",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Format: `Bearer <api_token>`",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "properties": {
                                "success": {
                                    "type": "boolean"
                                },
                                "data": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/api/user/lesson/finish/{lesson_id}": {
            "post": {
                "tags": [
                    "CL"
                ],
                "summary": "Fininsh Lesson for User.",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Format: `application/json`",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Format: `Bearer <api_token>`",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "properties": {
                                "success": {
                                    "type": "boolean"
                                },
                                "data": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/api/cl/moderation/answers/{questionID}": {
            "get": {
                "tags": [
                    "Test"
                ],
                "summary": "Get answers by questionID",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Format: `application/json`",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "properties": {
                                "data": {
                                    "properties": {
                                        "id": {
                                            "type": "integer"
                                        },
                                        "questionID": {
                                            "type": "integer"
                                        },
                                        "ruName": {
                                            "type": "string"
                                        },
                                        "kkName": {
                                            "type": "string"
                                        },
                                        "enName": {
                                            "type": "string"
                                        },
                                        "isCorrect": {
                                            "type": "integer"
                                        },
                                        "createdAt": {
                                            "type": "string"
                                        },
                                        "updatedAt": {
                                            "type": "string"
                                        },
                                        "deletedAt": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "400": {
                        "description": "Question doesnt exist",
                        "schema": {
                            "properties": {
                                "success": {
                                    "type": "boolean"
                                },
                                "data": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Test"
                ],
                "summary": "Store answer.",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Format: `application/json`",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Format: `Bearer <api_token>`",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "question_id",
                        "in": "formData",
                        "description": "test_id",
                        "required": true,
                        "type": "number"
                    },
                    {
                        "name": "ru_name",
                        "in": "formData",
                        "description": "Title in ru",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "kk_name",
                        "in": "formData",
                        "description": "Title in kk",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "en_name",
                        "in": "formData",
                        "description": "Title in en",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "is_correct",
                        "in": "formData",
                        "description": "Is answer correct?",
                        "required": true,
                        "type": "number"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "properties": {
                                "data": {
                                    "properties": {
                                        "id": {
                                            "type": "integer"
                                        },
                                        "questionID": {
                                            "type": "integer"
                                        },
                                        "ruName": {
                                            "type": "string"
                                        },
                                        "kkName": {
                                            "type": "string"
                                        },
                                        "enName": {
                                            "type": "string"
                                        },
                                        "isCorrect": {
                                            "type": "integer"
                                        },
                                        "createdAt": {
                                            "type": "string"
                                        },
                                        "updatedAt": {
                                            "type": "string"
                                        },
                                        "deletedAt": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "422": {
                        "description": "Question doesnt exist or question_id is not set.",
                        "schema": {
                            "properties": {
                                "success": {
                                    "type": "boolean"
                                },
                                "data": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "500": {
                        "description": "Internal server error. Cannot be saved.",
                        "schema": {
                            "properties": {
                                "success": {
                                    "type": "boolean"
                                },
                                "data": {
                                    "properties": {
                                        "errors": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/api/cl/moderation/answers/show/{answerID}": {
            "get": {
                "tags": [
                    "Test"
                ],
                "summary": "Get concrete answer.",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Format: `application/json`",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "properties": {
                                "data": {
                                    "properties": {
                                        "id": {
                                            "type": "integer"
                                        },
                                        "questionID": {
                                            "type": "integer"
                                        },
                                        "ruName": {
                                            "type": "string"
                                        },
                                        "kkName": {
                                            "type": "string"
                                        },
                                        "enName": {
                                            "type": "string"
                                        },
                                        "isCorrect": {
                                            "type": "integer"
                                        },
                                        "createdAt": {
                                            "type": "string"
                                        },
                                        "updatedAt": {
                                            "type": "string"
                                        },
                                        "deletedAt": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "400": {
                        "description": "Question doesnt exist",
                        "schema": {
                            "properties": {
                                "success": {
                                    "type": "boolean"
                                },
                                "data": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/api/cl/moderation/answers/{answerID}": {
            "delete": {
                "tags": [
                    "Test"
                ],
                "summary": "Delete answer",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Format: `application/json`",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Format: `Bearer <api_token>`",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successfull operation",
                        "schema": {
                            "properties": {
                                "success": {
                                    "type": "boolean"
                                },
                                "data": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "400": {
                        "description": "Wrong answer_id. Not found",
                        "schema": {
                            "properties": {
                                "success": {
                                    "type": "boolean"
                                },
                                "data": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "500": {
                        "description": "Internal server error. Cannot be saved.",
                        "schema": {
                            "properties": {
                                "success": {
                                    "type": "boolean"
                                },
                                "data": {
                                    "properties": {
                                        "errors": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "Test"
                ],
                "summary": "Update answer",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Format: `application/json`",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Format: `Bearer <api_token>`",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "question_id",
                        "in": "formData",
                        "description": "test_id",
                        "required": true,
                        "type": "number"
                    },
                    {
                        "name": "ru_name",
                        "in": "formData",
                        "description": "Title in ru",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "kk_name",
                        "in": "formData",
                        "description": "Title in kk",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "en_name",
                        "in": "formData",
                        "description": "Title in en",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "is_correct",
                        "in": "formData",
                        "description": "Is answer correct?",
                        "required": true,
                        "type": "number"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successfull operation",
                        "schema": {
                            "properties": {
                                "data": {
                                    "properties": {
                                        "id": {
                                            "type": "integer"
                                        },
                                        "questionID": {
                                            "type": "integer"
                                        },
                                        "ruName": {
                                            "type": "string"
                                        },
                                        "kkName": {
                                            "type": "string"
                                        },
                                        "enName": {
                                            "type": "string"
                                        },
                                        "isCorrect": {
                                            "type": "integer"
                                        },
                                        "createdAt": {
                                            "type": "string"
                                        },
                                        "updatedAt": {
                                            "type": "string"
                                        },
                                        "deletedAt": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "422": {
                        "description": "Test id or test is not set.",
                        "schema": {
                            "properties": {
                                "success": {
                                    "type": "boolean"
                                },
                                "data": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "400": {
                        "description": "Answer doesnt exist or answer_id is not set.",
                        "schema": {
                            "properties": {
                                "success": {
                                    "type": "boolean"
                                },
                                "data": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "500": {
                        "description": "Internal server error. Cannot be saved.",
                        "schema": {
                            "properties": {
                                "success": {
                                    "type": "boolean"
                                },
                                "data": {
                                    "properties": {
                                        "errors": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/api/cl-moderation/author": {
            "post": {
                "tags": [
                    "CL (Author)"
                ],
                "summary": "Create new author.",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Format: `application/json`",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Format: `Bearer <api_token>`",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "firstname",
                        "in": "formData",
                        "description": "First name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "lastname",
                        "in": "formData",
                        "description": "Last name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "middlename",
                        "in": "formData",
                        "description": "Middle name",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "about",
                        "in": "formData",
                        "description": "About author",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "avatar",
                        "in": "formData",
                        "description": "Image (max: 2MB)",
                        "required": false,
                        "type": "file"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "properties": {
                                "success": {
                                    "type": "boolean"
                                },
                                "data": {
                                    "properties": {
                                        "author": {
                                            "items": {
                                                "$ref": "#/definitions/Author"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "422": {
                        "description": "Validation failed",
                        "schema": {
                            "properties": {
                                "success": {
                                    "type": "boolean"
                                },
                                "data": {
                                    "properties": {
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "403": {
                        "description": "The action is forbidden.",
                        "schema": {
                            "properties": {
                                "success": {
                                    "type": "boolean"
                                },
                                "data": {
                                    "properties": {
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/api/cl-moderation/author/{author_id}": {
            "put": {
                "tags": [
                    "CL (Author)"
                ],
                "summary": "Update author.",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Format: `application/json`",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Format: `Bearer <api_token>`",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "firstname",
                        "in": "formData",
                        "description": "First name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "lastname",
                        "in": "formData",
                        "description": "Last name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "middlename",
                        "in": "formData",
                        "description": "Middle name",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "about",
                        "in": "formData",
                        "description": "About author",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "avatar",
                        "in": "formData",
                        "description": "Image (max: 2MB)",
                        "required": false,
                        "type": "file"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "properties": {
                                "success": {
                                    "type": "boolean"
                                },
                                "data": {
                                    "properties": {
                                        "author": {
                                            "items": {
                                                "$ref": "#/definitions/Author"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "422": {
                        "description": "Validation failed",
                        "schema": {
                            "properties": {
                                "success": {
                                    "type": "boolean"
                                },
                                "data": {
                                    "properties": {
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "403": {
                        "description": "The action is forbidden.",
                        "schema": {
                            "properties": {
                                "success": {
                                    "type": "boolean"
                                },
                                "data": {
                                    "properties": {
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "CL (Author)"
                ],
                "summary": "Delete author.",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Format: `application/json`",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Format: `Bearer <api_token>`",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "properties": {
                                "success": {
                                    "type": "boolean"
                                },
                                "data": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "422": {
                        "description": "Validation failed",
                        "schema": {
                            "properties": {
                                "success": {
                                    "type": "boolean"
                                },
                                "data": {
                                    "properties": {
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "403": {
                        "description": "The action is forbidden.",
                        "schema": {
                            "properties": {
                                "success": {
                                    "type": "boolean"
                                },
                                "data": {
                                    "properties": {
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/api/cl-moderation/course/comment": {
            "post": {
                "tags": [
                    "CL (Course Comment)"
                ],
                "summary": "Create new comment.",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Format: `application/json`",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Format: `Bearer <api_token>`",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "parent_id",
                        "in": "formData",
                        "description": "Parent comment ID (ignore variable if it is original)",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "course_id",
                        "in": "formData",
                        "description": "Course ID",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "body",
                        "in": "formData",
                        "description": "Body of comment",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "properties": {
                                "success": {
                                    "type": "boolean"
                                },
                                "data": {
                                    "properties": {
                                        "comment": {
                                            "items": {
                                                "$ref": "#/definitions/CourseComment"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "422": {
                        "description": "Validation failed",
                        "schema": {
                            "properties": {
                                "success": {
                                    "type": "boolean"
                                },
                                "data": {
                                    "properties": {
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "403": {
                        "description": "The action is forbidden.",
                        "schema": {
                            "properties": {
                                "success": {
                                    "type": "boolean"
                                },
                                "data": {
                                    "properties": {
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/api/cl-moderation/course/comment/{comment_id}": {
            "put": {
                "tags": [
                    "CL (Course Comment)"
                ],
                "summary": "Update comment.",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Format: `application/json`",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Format: `Bearer <api_token>`",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "body",
                        "in": "formData",
                        "description": "Body of comment",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "properties": {
                                "success": {
                                    "type": "boolean"
                                },
                                "data": {
                                    "properties": {
                                        "comment": {
                                            "items": {
                                                "$ref": "#/definitions/CourseComment"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "422": {
                        "description": "Validation failed",
                        "schema": {
                            "properties": {
                                "success": {
                                    "type": "boolean"
                                },
                                "data": {
                                    "properties": {
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "403": {
                        "description": "The action is forbidden.",
                        "schema": {
                            "properties": {
                                "success": {
                                    "type": "boolean"
                                },
                                "data": {
                                    "properties": {
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "CL (Course Comment)"
                ],
                "summary": "Delete comment.",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Format: `application/json`",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Format: `Bearer <api_token>`",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "properties": {
                                "success": {
                                    "type": "boolean"
                                },
                                "data": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "422": {
                        "description": "Validation failed",
                        "schema": {
                            "properties": {
                                "success": {
                                    "type": "boolean"
                                },
                                "data": {
                                    "properties": {
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "403": {
                        "description": "The action is forbidden.",
                        "schema": {
                            "properties": {
                                "success": {
                                    "type": "boolean"
                                },
                                "data": {
                                    "properties": {
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/api/cl-moderation/course/comment/{comment_id}/rate": {
            "post": {
                "tags": [
                    "CL (Course Comment)"
                ],
                "summary": "Rate comment.",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Format: `application/json`",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Format: `Bearer <api_token>`",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "rate_value",
                        "in": "formData",
                        "description": "Rate value (-1 or 1 or 0)",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "properties": {
                                "success": {
                                    "type": "boolean"
                                },
                                "data": {
                                    "properties": {
                                        "total": {
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "422": {
                        "description": "Validation failed",
                        "schema": {
                            "properties": {
                                "success": {
                                    "type": "boolean"
                                },
                                "data": {
                                    "properties": {
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/api/cl-moderation/course": {
            "post": {
                "tags": [
                    "CL (Course)"
                ],
                "summary": "Create new course.",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Format: `application/json`",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Format: `Bearer <api_token>`",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "is_published",
                        "in": "formData",
                        "description": "Status (0 - Is NOT published, 1 - Is published, 2 - Developing)",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "locale",
                        "in": "formData",
                        "description": "Locale [only: kk, ru, en]",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "title",
                        "in": "formData",
                        "description": "Title of Article",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "themes[]",
                        "in": "formData",
                        "description": "Themes by ID (Ex: 'themes[0] : 1')",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "authors[]",
                        "in": "formData",
                        "description": "Authors by ID (Ex: 'authors[0] : 1')",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "body_in",
                        "in": "formData",
                        "description": "Description of course",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "body_out",
                        "in": "formData",
                        "description": "Description of course",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "img_preview",
                        "in": "formData",
                        "description": "Image file",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "video",
                        "in": "formData",
                        "description": "Video file",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "properties": {
                                "success": {
                                    "type": "boolean"
                                },
                                "data": {
                                    "properties": {
                                        "course": {
                                            "items": {
                                                "$ref": "#/definitions/Course"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "422": {
                        "description": "Validation failed",
                        "schema": {
                            "properties": {
                                "success": {
                                    "type": "boolean"
                                },
                                "data": {
                                    "properties": {
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "403": {
                        "description": "The action is forbidden.",
                        "schema": {
                            "properties": {
                                "success": {
                                    "type": "boolean"
                                },
                                "data": {
                                    "properties": {
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/api/cl-moderation/course/{course_id}": {
            "put": {
                "tags": [
                    "CL (Course)"
                ],
                "summary": "Update course.",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Format: `application/json`",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Format: `Bearer <api_token>`",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "is_published",
                        "in": "formData",
                        "description": "Status (0 - Is NOT published, 1 - Is published, 2 - Developing)",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "locale",
                        "in": "formData",
                        "description": "Locale [only: kk, ru, en]",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "title",
                        "in": "formData",
                        "description": "Title of Article",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "themes[]",
                        "in": "formData",
                        "description": "Themes by ID (Ex: 'themes[0] : 1')",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "authors[]",
                        "in": "formData",
                        "description": "Authors by ID (Ex: 'authors[0] : 1')",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "body_in",
                        "in": "formData",
                        "description": "Description of course",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "body_out",
                        "in": "formData",
                        "description": "Description of course",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "img_preview",
                        "in": "formData",
                        "description": "Image file",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "video",
                        "in": "formData",
                        "description": "Video file",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "properties": {
                                "success": {
                                    "type": "boolean"
                                },
                                "data": {
                                    "properties": {
                                        "course": {
                                            "items": {
                                                "$ref": "#/definitions/Course"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "422": {
                        "description": "Validation failed",
                        "schema": {
                            "properties": {
                                "success": {
                                    "type": "boolean"
                                },
                                "data": {
                                    "properties": {
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "403": {
                        "description": "The action is forbidden.",
                        "schema": {
                            "properties": {
                                "success": {
                                    "type": "boolean"
                                },
                                "data": {
                                    "properties": {
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "CL (Course)"
                ],
                "summary": "Delete course.",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Format: `application/json`",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Format: `Bearer <api_token>`",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "properties": {
                                "success": {
                                    "type": "boolean"
                                },
                                "data": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "422": {
                        "description": "Validation failed",
                        "schema": {
                            "properties": {
                                "success": {
                                    "type": "boolean"
                                },
                                "data": {
                                    "properties": {
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "403": {
                        "description": "The action is forbidden.",
                        "schema": {
                            "properties": {
                                "success": {
[...]
